<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kidsactivities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsActivities"

        >
        <activity
            android:name="com.example.kidsactivities.ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kidsactivities.ui.ConnectActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name="com.example.kidsactivities.ui.SharedRecentPostActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.example.kidsactivities.ui.ShareActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kidsactivities.ui.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kidsactivities.ui.RecentPostActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kidsactivities.ui.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/OnBoardingTheme">

        </activity>
        <activity
            android:name="com.example.kidsactivities.ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name="com.example.kidsactivities.services.PostNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>